@import "tailwindcss";

.title-font {
  font-family: "Orbitron", sans-serif;

  font-style: normal;
}

.body-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

/*color : #3E3651*/
